#########################################
# IntelliJ IDEA / Android Studio
#########################################

.idea/
*.iml

#########################################
# Java / Spring Boot
#########################################

target/
out/
logs/
*.log

#########################################
# Android
#########################################

.gradle/
local.properties
captures/

**/build/

#########################################
# MacOS
#########################################

.DS_Store

#########################################
# Windows
#########################################

Thumbs.db

#########################################
# Environment
#########################################

.env
.env.*

#########################################
# Temporary
#########################################

*.tmp
*.swp
